<% @hide_cookie_notice = true %>

<div class="container">
  <div class="span12">
    <h2>Activate Membership</h2>

    <%= simple_form_for(@user, url: user_registration_path) do |f| %>
      <div class="form-inputs">
        <%= f.input :card_number, required: true, input_html: { value: params[:card_number] } %>

        <%= f.input :email %>

        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>

        <%= f.input :first_name, required: true %>
        <%= f.input :last_name,  required: true %>

        <%= f.input :phone_number %>

        <div class="control-group">
          <%= f.label "User Profile" %>

          <div class="controls switch" data-on="success" data-on-label="Public" data-off="danger" data-off-label="Private" style="width: 200px;">
            <%=
               f.input_field :public_profile,
                              boolean_style: :inline
            %>
          </div>
        </div>

        <%= f.input :bio %>
        <%= f.input :avatar %>

        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn") do %>
            Activate
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>