<h2><%= @opportunity.title %></h2>

<div>
  <dl>
    <dt>Expiry Date</dt>
    <dd><%= l @opportunity.expiry_date %></dd>

    <dt>Approved By</dt>
    <dd><%= @opportunity.approver.nil? ? "Not Approved" : @opportunity.approver.name %></dd>
  </dl>
</div>

<div>
  <%= render_markdown @opportunity.description %>
</div>

<% if @opportunity.show_email %>
  <p>
    Please contact <%= @opportunity.creator.name %> by clicking <%= mail_to @opportunity.creator.email, 'here' %>.
  </p>
<% end %>

<% if can? :edit, :opportunity %>
  <br />

  <% edit_text = '<i class="fa fa-pencil"></i> Edit'.html_safe %>
  <%= link_to edit_text, edit_admin_opportunity_path(@opportunity), :class => 'btn' %>
<% end %>

<% if can? :approve, @opportunity %>
  <br />
  <br />

  <% approve_text = '<i class="fa fa-ok"></i> Approve'.html_safe %>
  <%= link_to approve_text, approve_admin_opportunity_path(@opportunity), :method => :put, :class => "btn btn-success" %>

  <% reject_text = '<i class="fa fa-remove"></i> Reject'.html_safe %>
  <%= link_to reject_text, reject_admin_opportunity_path(@opportunity), :method => :put, :class => "btn btn-danger" %>
<% end %>