<% @hide_cookie_notice = true %>

<% content_for :head do %>
  <%= stylesheet_link_tag "login", :media => "all" %>
<% end %>

<div class="container">
  <div id="login_form" class="row">
    <div class="span5 well">
      <h2>Existing Members</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>
        <div class="form-inputs">
          <%= f.input :username, :required => false, :autofocus => true, :wrapper => :prepend do %>
            <span class="add-on"><i class="fa fa-envelope"></i></span><%= f.input_field :username %>
          <% end %>
          <%= f.input :password, :required => false, :wrapper => :prepend do %>
            <span class="add-on"><i class="fa fa-lock"></i></span><%= f.input_field :password %>
          <% end %>
          <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn") do %>
            <i class="fa fa-ok"></i> Login
          <% end %>
        </div>
      <% end %>

      <hr />

      <%= render "devise/shared/links" %>

      <p style="font-size: x-small; line-height: normal;">
        By signing in, you agree that this website may store both a session
        cookie to allow you to log in, and any other cookies including tracking cookies.
        <br />
        For more information, please contact the <%= mail_to @support_email, 'Bedlam IT Systems Manager' %>.
      </p>
    </div>

    <div class="span6 well">
      <h2>New Members</h2>

      <h3>Please buy membership at the box office</h3>
    </div>
  </div>
</div>
