<div class="row">
  <div class="span12">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#search_container">
          <i class="fa fa-chevron-down"></i> Search Form
        </a>
      </div>
      <div id="search_container" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= search_form_for @q, builder: SimpleForm::FormBuilder, url: :archives_workshops_index do |f| %>
            <%= f.input :name_cont,            label: "Workshop Title", required: false %>
            <%= f.input :users_full_name_cont, label: "Person Name",    required: false %>

            <%= f.input :start_date_gt, as: :date, label: "Start Date", include_blank: true, required: false %>
            <%= f.input :end_date_lt,   as: :date, label: "End Date",   include_blank: true, required: false %>

            <%= f.submit :Search, class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1>Previous Workshops</h1>
    <hr />

    <% @workshops.each do |workshop| %>
    <article class="media">
      <% image = image_tag workshop.image.url(:thumb), :class => "media-object" %>
      <%= link_to image, workshop, :class => "pull-left thumbnail" %>
      <div class="media-body">
        <header class="media-heading">
          <h4 class="media-heading"><%= link_to workshop.name, workshop %></h4>
        </header>
        <p>
          <%= workshop.tagline %>
          <br />
          <span class="workshop-date"><%= workshop.date_range(:longy) %></span>
        </p>
        <p><%= link_to 'View Details', workshop %></p>
      </div>
    </article>
    <hr />

    <% end %>

    <%= will_paginate(@workshops) %>
  </div>
</div>