<p>
  <b>Deadline:</b>
  <%= l @admin_proposals_call.deadline, :format => :long %>
</p>

<p>
  <b>Name:</b>
  <%= @admin_proposals_call.name %>
</p>

<p>
  <b>Open:</b>
  <%= @admin_proposals_call.open ? "&#10004;".html_safe : "&#10008;".html_safe %>
</p>

<%= link_to 'View Proposals', admin_proposals_call_proposals_path(@admin_proposals_call), :class => "btn btn-primary" %>

<% edit_text = '<i class="icon-pencil"></i> Edit'.html_safe %>
<%= link_to edit_text, edit_admin_proposals_call_path(@admin_proposals_call), :class => "btn" %>
<%= link_to 'Back', admin_proposals_calls_path, :class => "btn"  %>

<hr />

<h3>Questions</h3>

<% @admin_proposals_call.questions.each do |question| %>
  <div>
    <b>Question:</b>
    <%= render_markdown question.question_text %>
  </div>

  <p>
    <b>Type:</b>
    <%= question.response_type %>
  </p>

  <hr />
<% end %>
