<div class="row">
  <div class="span12">
    <h1>Upcoming Shows</h1>
    <hr />

    <% @shows.each do |show| %>
    <article class="media">
      <% image = image_tag show.image.url(:thumb), :class => "media-object" %>
      <%= link_to image, show, :class => "pull-left thumbnail" %>
      <div class="media-body">
        <header class="media-heading">
          <h4 class="media-heading"><%= link_to show.name, show %></h4>
        </header>
        <p>
          <%= show.tagline %>
          <br />
          <span class="show-date"><%= show.date_range %></span>
        </p>
        <p><%= link_to 'View Details', show %></p>
      </div>
    </article>
    <hr />

    <% end %>

    <%= will_paginate(@shows) %>
  </div>
</div>